# ==========================================
# Maven (Ignora a pasta de compilação)
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ==========================================
# VS Code (Ignora configurações locais da sua máquina)
# ==========================================
.vscode/

# ==========================================
# macOS (Ignora arquivos de indexação do sistema)
# ==========================================
.DS_Store
.AppleDouble
.LSOverride

# ==========================================
# Java / Logs
# ==========================================
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ==========================================
# Outras IDEs (Caso outros membros da equipe usem)
# ==========================================
.idea/
*.iml
.project
.classpath
.settings/